[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
brunette = "0.1.7"
flake8 = "3.8.4"
isort = "5.6.4"
mypy = "0.790"
pre-commit = "==2.16.0"
safety = "==1.10.3"
editorconfig-checker = "==2.4.0"

[packages]
django = "==3.2.4"
graphene-django = "==2.15.0"
django-filter = "==21.1"
graphene-django-cud = "==0.9.1"
inflection = "==0.5.1"
django-graphql-jwt = "==0.3.1"
graphene-django-optimizer = "==0.9.1"
django-debug-toolbar = "==3.1.1"
django-graphiql-debug-toolbar = "==0.1.4"
graphene-django-extras = "0.4.5"

[requires]
python_version = "3.8"
